* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}
.frist {
  display: flex;
  align-items: center;
}
.frist img {
  object-fit: contain;
  height: 80px;
  margin-left: 5px;
}
.frist i {
  padding: 10px;
  cursor: pointer;
  color: gray;
}
.second {
  display: flex;
  flex: 0.6;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}
.second i {
  color: gray;
}

.second input {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: medium;
  background-color: transparent;
}
.last {
  display: flex;
  padding-right: 20px;
}
.last i {
  color: gray;
  padding-right: 10px;
  cursor: pointer;
}

.main {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 0.3;
  max-width: 300px;
  padding-right: 20px;
}
.compose {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: gray;
  padding: 15px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px -2px rgb(0, 0, 0, 0.75);
}
.compose i {
  margin-right: 5px;
}
.sidebar-option {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  color: #818181;
}

.sidebar-option i,
span {
  padding: 5px;
}
.sidebar-option h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.sidebar-option:hover,
.sidebar-option:hover h3,
.sidebar-option:hover span {
  background-color: #fcecec;
  color: gray;
  font-weight: 800;
}
.option_active:hover {
  background-color: #fcecec;
  color: #c04b37;
}

.sidebar-footer {
  display: flex;
  justify-content: center;
}
.footericons i {
  margin: 7px;
  cursor: pointer;
  color: #818181;
}
.email-list {
  flex: 1;
}

.email-list i,
span {
  color: #818181;
}

.settings {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: #fff;
  z-index: 999;
  padding: 8px;
}
.settings i {
  margin: 5px;
  cursor: pointer;
}
.settingleft {
  display: flex;
  align-items: center;
}
.section-select {
  display: flex;
  align-items: center;
  border-bottom-width: 2px;
  padding: 15px;
  min-width: 200px;
  cursor: pointer;
  color: #818181;
  border-width: 0;
}
.start-section {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid whitesmoke;
  z-index: 999;
}
.inbox i {
  background-color: whitesmoke;
  border-width: 3px;
  color: #c04b37;
}
.section-select:hover {
  background-color: whitesmoke;
  border-width: 3px;
}
.section-select h4 {
  font-size: 14px;
  margin-left: 15px;
}

.emailrow i,
input {
  margin: 5px;
}

.options {
  display: flex;
  align-items: center;
}

.row-message {
  display: flex;
  flex: 0.8;
  align-items: center;
  font-size: 13px;
}
.row-titel {
  font-size: 13px;
  flex: 0.3;
}
.row-message h4 {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 5px;
  padding-left: 5px;
  text-overflow: ellipsis;
}
.time {
  padding-right: 15px;
  font-size: 10px;
  font-weight: bold;
}
#mailbox {
  width: 100%;
  height: 400px;
  text-align: center;
}
.mailbox {
  padding: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.email_row {
  display: flex;
  align-items: center;
  height: 50px;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  z-index: 999;
}
.email_row:hover {
  border-top: 1px solid whitesmoke;
  box-shadow: 0 4px 4px -2px rgb(0, 0, 0, 0.24);
}
td {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  padding-right: 35px;
}
.click {
  width: 60px;
  height: 20px;
  background-color: whitesmoke;
  border-radius: 20px;
  cursor: pointer;
}
.click:hover {
  transform: scale(1.5);
}
.button {
  padding: 12px 10px 15px;
  background-color: #c04b37;
  margin: 30px;
}

.options {
  display: flex;
  padding: 20px;
  border-bottom: solid 1px #fcecec;
}
.options_ {
  display: flex;
  align-items: center;
}
.options_ i {
  padding: 0 30px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.options_ i:hover {
  background-color: #fcecec;
  border-top: 1px solid whitesmoke;
  box-shadow: 0 4px 4px -2px rgb(0, 0, 0, 0.24);
}
.box {
  justify-items: center;
}
#mail_content {
  justify-content: center;
  padding-top: 60px;
}
#mail_content h4,
#mail_content label,
#mail_content p {
  padding: 50px;
  text-align: center;
}
.replay {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: gray;
  padding: 15px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px -2px rgb(0, 0, 0, 0.75);
}
.footer {
  display: flex;
}
.replay:hover {
  background-color: whitesmoke;
  color: black;
  transform: scale(1.5);
}

.search {
  background-color: whitesmoke;
}

.hidden {
  display: none;
}
#new {
  display: flex;
  flex-direction: column;
  align-items: right;
  height: 200px;
}

form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}
.title {
  width: 100%;
  height: 50px;
  background: black;
  color: gainsboro;
  font-size: 12px;
  padding-right: 10px;
  padding-top: 5px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  border-bottom: 1px solid black;
}

form button {
  padding: 15px;
  background: blue;
  color: #fff;
  font-size: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 40px;
  margin: 20px auto 0;
  border-radius: 30px;
  text-align: center;
}

#mail_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
}
.first {
  font-size: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}
