* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}
.frist {
  display: flex;
  align-items: center;
}
.frist img {
  object-fit: contain;
  height: 80px;
  margin-left: 5px;
}
.frist i {
  padding: 10px;
  cursor: pointer;
  color: gray;
}
.second {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}
.second i {
  color: gray;
}

.second input {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: medium;
  background-color: transparent;
}
.last {
  display: flex;
  padding-right: 20px;
}
.last i {
  color: gray;
  padding-right: 10px;
  cursor: pointer;
}
.main {
  display: flex;
  height: 100vh;
}
.nav{
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  box-sizing: content-box;
}
.bar{
  display: flex;
  flex: 50%;
  justify-items: flex-start;
  padding-left: 110px; 
  height: 20px;
}
.bar-{
  display: flex;
  justify-items: flex-start;
  flex-direction: row;
  box-sizing: content-box;
}
.bar img{
  display: flex;
  object-fit: contain;
  height: 20px;
  width: 20px;
}
.side{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.side-first{
  display: flex;
  padding-bottom: 20px;
}
.side-{
  padding-bottom: 20px;
}
#more{
  display: flex;
  height: 40px;
  width: 40px;
}
#menu-{
  height: 20px;
  width: 20px;
  cursor: pointer;
}