* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}
.frist {
  display: flex;
  align-items: center;
}
.frist img {
  object-fit: contain;
  height: 80px;
  margin-left: 5px;
}
.frist i {
  padding: 10px;
  cursor: pointer;
  color: gray;
}
.second {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}
.second i {
  color: gray;
}

.second input {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: medium;
  background-color: transparent;
}
.last {
  display: flex;
  padding-right: 20px;
}
.last i {
  color: gray;
  padding-right: 10px;
  cursor: pointer;
}
.main {
  display: flex;
  height: 100vh;
}
.nav {
  display: flex;
}
.bar {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.bar- {
  display: flex;
  flex: 1;
  border-top: solid 1px whitesmoke;
  border-bottom: solid 1px whitesmoke;
}
.side {
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding: 20px;
  width: 300px;

}
.side-first {
  display: flex;
  padding-bottom: 20px;
}
.side-first i , button {
  display: flex;
  align-items: center;
  border-radius: 1.5em;
  padding: 10px;
  background-color: whitesmoke;
  border: none;
  text-transform: capitalize;
}
button{
  box-shadow: 0px 2px 5px -2px rgb(0, 0, 0, 0.75);
}
.side-{
  display: flex;
  padding-bottom: 20px;
}
.side- i , h4{
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #818181;
  padding: 5px;
}
.bar ,i , h4 {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
